@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {

    background-color: white;
    margin-top: 15%;
    padding: 0;
    margin-block-end: 20%;
}
.barra_inicio hr{
    padding: 0px;
    margin: 0px;
    height: 3px;
    background-color: #ffffff;
    border: none;
   } 
   .barra_inicio button:hover hr{
    padding: 0px;
    margin: 0%;
    height: 3px;
    background-color: #EF5036;
    border: none;
   } 
.titulo {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 65px;
    font-weight: 900;
    position: absolute;
    top: 300px;
    left: 40px;

}

.subtitulo {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 35px;
    font-weight: 300;
    position: absolute;
    top: 525px;
    left: 40px;
}

.division {
    position: absolute;
    width: 10px;
    height: 290px;
    margin: auto;
    top: 320px;
    left: 550px;
}

.preuniversitarios {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 37px;
    font-weight: 700;
    color: #2D9AA6;
    top: 360px;
    left: 650px;
}

.preun_text {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 30px;
    top: 470px;
    left: 650px;
}

.egresados {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 37px;
    font-weight: 700;
    color: #2D9AA6;
    top: 360px;
    left: 1050px;
}

.egresados_text {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 30px;
    top: 470px;
    left: 1050px;
}

.universitarios {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 37px;
    font-weight: 700;
    color: #2D9AA6;
    top: 360px;
    left: 1450px;
}

.univer_text {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 30px;
    top: 470px;
    left: 1450px;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-bottom: 0px;
    position: static;
    background-color: white;
    background-size: cover;
    background-position: center bottom;
}

.lineuno {
    position: absolute;
    width: 120px;
    height: 290px;
    top: 640px;
    left: 650px;
}


.linedos {
    position: absolute;
    width: 120px;
    height: 290px;
    top: 640px;
    left: 1050px;
}

.linetres {
    position: absolute;
    width: 120px;
    height: 290px;
    top: 640px;
    left: 1450px;
}

/* Formulario */

.registrate {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 65px;
    font-weight: 900;
    position: absolute;
    top: 750px;
    left: 770px;
    color: #2B99A5;
}

.cuestionario {

    margin-left: 50%;
    margin-top: 35%;
}

.form-group {
    margin-right: 83px;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 100%;
    float: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.form-group label {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    width: 15%;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-left: -40%;
    margin-top: 2%;
    border-radius: 10px; 
}

.form-group input {
    padding: 10%;
    width: 100%;
    background-color: #F2F2F2;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    margin-left: -34%;
    color: rgba(27, 27, 27, 0.779);
    font-size: 25px;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cuestionario select{
    background-color: #F2F2F2;
    color: #2B99A5;
    font-size: 25px;
    width: 102%;
    padding: 10px;
    margin-left: -34%;
    border-radius: 15px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* cargar pdf */
 
.imgC {
    width: 100px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
}
.file-label {
    position: absolute;
    left: 1480px;
    border-radius: 10px;
    padding: 10px;
    width: 24px;
    display: flex;
    align-items: center;
    margin-top: -6%;
}

/* Boton y checkbox */

.container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    left: 760px;
    top: 1820px;
    width: 370px;
    height: 20px;
    background: #fff;
    margin-top: 21%;
}

.checkbox-label {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    position: absolute;
    margin-left: 30px;
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
}

.checkbox-input {
    transform: scale(2.0);
    margin-right: 10px;
    cursor: pointer;
}

.custom-select {
    border-radius: 10px;
    padding: 11px;
    width: 967px;
    margin: 10px;
    background-color: #f2f2f2;
    color: #2D9AA6;
    border: none;
}


.custom-select option { /* Estilo para los opciones del select */
    background-color: #f2f2f2;
    color: #1e7781;
}

.Boton {
    background-color: #EF5036;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 10px 60px;
    border-radius: 15px;
    margin-left: 44%;
    text-align: center;
    border: none;
    margin-top: 10%;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Boton:hover {
    background-color: #ffffff;
    color: #EF5036;
}
.boton-enviar{
display: flex;
margin-left: 28%;
    font-size: 40px;
}