@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {

    background-color: white;
    margin: 5;
    padding: 5;
}
html{
    margin-top: 5%;
}
header{
    margin-top: -5%
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-bottom: 100px;
    position: static;
    background-color: white;
    background-size: cover;
    background-position: center bottom;
}

/* imgslider */

body {
    background-color: rgb(255, 255, 255);
}

#slider {
    margin:auto;
    background-color: white;
    max-width: 700px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    
}

#slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#slider>ul.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}

#slider>ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 500%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

#slider>ul.slider li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider>ul.slider li:first-child {
    opacity: 1;
    
}

#slider>ul.slider li:target {
    opacity: 1;
   
}

#slider > .menu {
    text-align: center;
    margin: 20px;
    
}

#slider > .menu li {
    display: block; 
    margin: 10px;
    margin-right: 10px;
}

#slider > .menu li a {
    display: block;
    text-decoration: none;
    background-color: rgb(182, 52, 52);
    padding: 3px;
    width: 12px;
    height: 12px;
    border-radius: 100%;

}

.cultura {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 37px;
    font-weight: 700;
    color: #2D9AA6;
    top: 890px;
    left: 650px;
}

.entretenimiento {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 37px;
    font-weight: 700;
    color: #2D9AA6;
    top: 890px;
    left: 950px;
}

.lineuno {
    position: absolute;
    width: 120px;
    height: 290px;
    top: 949px;
    left: 650px;
}

.linedos {
    position: absolute;
    width: 120px;
    height: 290px;
    top: 949px;
    left: 950px;
}


#slider > .menu li a:focus {
    background-color: #1895A0;
    outline: none;
}


#slider > .menu li label {
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgb(182, 52, 52);
    border-radius: 50%;
    cursor: pointer;
}

#slider > .menu li input[type="radio"]:checked + label {
    background-color: #1895A0; 
}

#slider > .menu li a {
    display: block;
    text-decoration: none;
    background-color: #DDDDDD;
    padding: 3px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    transition: background-color 0.3s; 
}

#slider > .menu li a.selected {
    background-color: #1895A0; 
}
.slide-button{
    position:absolute; 
    top: 530px; 
    right: 1220px;
}
.slide-button2{
    position:absolute; 
    top: 560px; 
    right: 1220px;
}
.slide-button3{
    position:absolute; 
    top: 590px; 
    right: 1220px;
}

