body {
    margin-top: 0.8%;
}

html {
    margin-top: -1%;
}

header {
    background: transparent;
    position: static;
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 100;
    margin-top: 0%;
}

h3 {
    font-weight: 1;
    margin-left: -7%;
}

.ContenidoAlineado {
    display: flex;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 180px;
}

.ContenidoAlineado2 {
    display: flex;
    margin-left: 22%;
    align-items: center;
    justify-content: center;
    padding-top: 220px;
}

.ContenidoAlineado3 {
    display: flex;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 10px;
    margin-block-end: 30%;
}

.Linea {
    width: 15px;
    height: 380px;
    margin-right: -2%;
    background-color: #2D9AA6;
    border: 1px;
    border-radius: 5px;
}

.Titulo {
    color: #54ADB7;
    font-size: 80px;
    width: 481px;
    font-family: Arial, Helvetica, sans-serif;
}

.Titulo2 {
    color: #2D9AA6;
    font-size: 80px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

.SubT {
    color: #035C66;
    font-size: 40px;
    margin-top: 10%;
    margin-left: -580px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

/* CUESTIONARIO */

.Cuestionario {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}

.Cuestionario label {
    color: rgba(27, 27, 27, 0.779);
    font-size: 40px;
    margin-top: 5%;
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Cuestionario select{
    color: rgba(27, 27, 27, 0.779);
    font-size: 40px;
    padding: 10px;
    margin-top: -150px;
    margin-right: -74%;
    border-radius: 40px;
    margin-left: -8%;
    display: inline-block; /* Cambiado a inline-block */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Cuestionario select:focus{
    outline: none;
    border-color: #CC2B9E;
}
.h5{
    font-size: 30px;
    color:#303030 ;
  }

.row {
    display: flex;
    margin-bottom: 60px;
}
.row2 {
    display: flex;
    margin-bottom: 20px;
    margin-top: -10%;
    margin-left: 54%;
}

.column {
    flex: 50%;
    text-align: left;
    padding-right: 10px;
}
.column2 {
    flex: 50%;
    text-align: left;
    padding-right: 10px;
}
.form-group {
    flex: 50%;
    text-align: left;
    padding-right: 10px;
}
.form-group2 {
    flex: 50%;
    text-align: left;
    padding-right: 10px;
    margin-top: 5%;
    margin-left: 8%;
}

input[type="text"],
textarea {
    width: 150%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-radius: 40px;
    border: 1px solid #ddd;
    background-color: #e7e7e7;
    height: 40px;
}

input[type="text2"],
textarea {
    width: 60%;
    padding: 10px;
    margin-top: -50px;
    margin-bottom: 1px;
    border-radius: 40px;
    border: 1px solid #ddd;
    background-color: #e7e7e7;
    margin-left: -8%;
    height: 80px;
}
.select{
    width: 170%;
    padding: 10px;
    margin-top: 50px;
    border-radius: 40px;
    border: 1px solid #ddd;
    background-color: #e7e7e7;
    margin-left: -8%;
    height: 80px;
}

textarea {
    height: 100px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #CC2B9E;
}

input[type="text2"]:focus,
textarea:focus {
    outline: none;
    border-color: #CC2B9E;
}

.img{
    margin-left: 100%;
    margin-top: -20%;
    width: 150px;
}
.row2 label{
    margin-top: -23%;
    margin-left: 35%;
}
#imagen-cargador {
    cursor: pointer;
    display: inline-block;
}
#img-file {
    display: none;
}

.Terminos {
    color: rgb(59, 59, 59);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-top: 15%;
    text-align: center;
}

.Terminos input[type="checkbox"] {
    display: none;
}

.Terminos label {
    position: relative;
    padding-left: 45px;
    cursor: pointer;
}

.Terminos label::before {
    background-color: #D9D9D9;
    content: '';
    position: absolute;
    left: -10%;
    top: -30%;
    width: 60px;
    height: 60px;
    border-radius: 15%;
}

.Terminos input[type="checkbox"]:checked+label::before {
    background-color: #EF5036;
}

.Boton {
    background-color: #EF5036;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 10px 100px;
    border-radius: 15px;
    margin: 42%;
    text-align: center;
    border: none;
    margin-top: 2%;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-block-end: 10%;
    margin-inline-end: 1%;
}

.Boton:hover {
    background-color: #ffffff;
    color: #EF5036;
}

/* MENU */

.contenedor {
    position: absolute;
    display: inline-block;
    margin-left: 95%;
}

.imagen {
    width: 80px;
    margin-top: 15%;
    cursor: pointer;
}

.lista {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s linear;
    position: absolute;
    margin-left: -160%;
    top: 100%;
    list-style-type: none;
    padding: 0;
    text-align: left;
    background-color: transparent;
    border: 0px solid transparent;
    font-family:Arial, Helvetica, sans-serif;
}

.lista li {
    padding: 25px;
    border-bottom: 3px solid #ccc;
    border-color: #158E9B;
}

.lista.mostrar {
    max-height: 300px;
    border: 5px solid transparent;
    border-radius: 5%;
    display: block;
}

.lista:not(.mostrar) {
    border: 0px solid transparent;
    border: 5px solid transparent;
    border-radius: 5%;
    display: block;
}