body{
    margin-top: 0.8%;
}
html{
    margin-top: -1%;
}
header {
    background: transparent;
    position: static;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    margin-top: 1%;
}

h3 {
    font-weight: 1;
    margin-left: -7%;
}

.ContenidoAlineado {
    display: flex;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 180px;
}

.ContenidoAlineado2 {
    display: flex;
    margin-left: -25%;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 220px;
    margin-block-end: 50%;
}
.Linea {
    width: 15px;
    height: 380px;
    margin-right: -2%;
    background-color: #2D9AA6;
    border: 1px;
    border-radius: 5px;
}

.Titulo {
    color: #54ADB7;
    font-size: 80px;
    width: 481px;
    font-family: Arial, Helvetica, sans-serif;
}

.Titulo2 {
    color: #2D9AA6;
    font-size: 80px;
    width: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.SubT {
    color: #035C66;
    font-size: 40px;
    margin-top: 10%;
    margin-left: -580px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.fila {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 10%;
    color: #2D9AA6;
}

.columna {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.columna a {
    display: block;
    padding: 0px;
    color: #2D9AA6;
    text-decoration: none;
}

.columna a:hover {
    display: block;
    padding: 0px;
    color: #ff7b00;
    text-decoration: none;
}

.ParrafoC {
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.Iframe {
    width: 100%;
    margin-top: -45%;
    margin-block-end: 0%;
}

/* MENU */

.contenedor {
    position: absolute;
    display: inline-block;
    margin-left: 95%;
    margin-top: 5%;
}

.imagen {
    width: 80px;
    margin-top: 15%;
    cursor: pointer;
}

.lista {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s linear;
    position: absolute;
    margin-left: -160%;
    top: 100%;
    list-style-type: none;
    padding: 0;
    text-align: left;
    background-color: transparent;
    border: 0px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lista a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.lista li {
    padding: 25px;
    border-bottom: 2px solid #ccc;
    border-color: #158E9B;
}

.lista.mostrar {
    max-height: 300px;
    border: 5px solid transparent;
    border-radius: 5%;
    display: block;
}
.lista:not(.mostrar){
    border: 0px solid transparent;
    border: 5px solid transparent;
    border-radius: 5%;
    display: block;
}